{% extends "base.html" %}
{% load cms_tags %}

{% block content %}

    <h4 class="text-center">{{ request.current_page|capfirst }}</h4>
    <section id="showcase" class="showcase ">
    {% placeholder content %}
    </section>
    <section id="agenda">
        {% placeholder agenda %}
    </section>
    <section id="maps">
        {% placeholder maps %}
    </section>
    <section id="forum"><!--col-->
        {% placeholder forum %}
    </section>
{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="active">accueil</li>
    </ol>
{% endblock %}
