{% extends "base.html" %}
{% load cms_tags %}

{% block content %}

<div class="row">
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-body">
                    {% placeholder content %}
                        </div>
                </div>
            </div>
            <div class="col-lg-4">
                    {% placeholder sidebar %}

            </div>
        </div>

{% endblock %}
{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="active">accueil</li>
    </ol>
{% endblock %}
