@font-face {
    font-family: "super font";
    src: url('/static/font/htf1bkup.TTF');
}
body {
    font-size: 13pt;
    background-color: #DEDEDE;
}
p {
    margin-bottom: 10pt;
    margin-top: 10pt;
}
.container {
    background-color: #ffffff;


}
.text-souligne{
    text-decoration: underline;
}
.content {
    padding-right: 10pt;
    padding-left: 10pt;
}
.base{
    margin-bottom: 15pt;
    margin-top: 15pt;
}
.header {
    font-family: "super font", Helvetica, Arial, sans-serif;

    text-align: center;

    color: #ffffff;
    word-spacing: 6pt;

    background-color: #987548;
    background-color: #201c1b;
    line-height:100px;

}
a.header {
    margin :100 px;
    padding: 0;
}
.menu{
    font-family: "super font", Helvetica, Arial, sans-serif;
    font-size: 15pt;
    font-style: italic;
    letter-spacing: 3px;
    font-weight: bold;
    margin-bottom: 5px;

}
.navbar .nav > li > a {
    padding: 5px 15px;

}
.nav{
    margin: 0 15px;


}
.navbar {

    margin-bottom: 0;
    min-height: 0;
    padding: 0;
}
.header a:hover, a:focus {
    text-decoration:none;
    color: #000000;
    vertical-align:middle;
}

.carousel a:focus {
    outline: none;
}

.carousel .item {
    margin-right: auto;
    margin-left: auto;

    text-align: center;;

}
.salle address{
    margin-top: 0px;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}
.recherche{
    margin-top: 2px;
    margin-bottom: 0px;

}
.recherche input, button{
    height: 28px;
    padding-top: 0px;
    padding-bottom: 0px;

}
.recherche button{
    padding-top: 0px;
    padding-bottom: 0px;
}
.dropdown-submenu{position:relative;}
.dropdown-submenu>.dropdown-menu{top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{display:block;}
.dropdown-submenu>a:after{display:block;content:" ";float:right;width:0;height:0;border-color:transparent;border-style:solid;border-width:5px 0 5px 5px;border-left-color:#cccccc;margin-top:5px;margin-right:-10px;}
.dropdown-submenu:hover>a:after{border-left-color:#ffffff;}
.dropdown-submenu.pull-left{float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}
